<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${application.config['projectTitle'].configValue}">XNOTE</title>
	<link rel="shortcut icon" href="favicon.ico" th:href="@{/icon/favicon.ico}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
	<link rel="stylesheet" href="/static/css/mian.css" th:href="@{/css/mian.css}">
	<link rel="stylesheet" href="/static/css/mian.css" th:href="@{/plugin/vueSkin/vue.css}">
</head>
<body class="lay-blog">
	<div th:replace="~{bar :: header-bar}"></div>

	<div class="container-wrap">
		<div class="container container-message container-details">
			<div class="contar-wrap">
				<div class="item">
					<div class="item-box-one">
						<h3>
							<span class="noteTile" th:text="${note.noteTitle}">sss</span>
							<span id="like" class="pull-right like">
								<i class="layui-icon layui-icon-praise"></i>
								<em th:text="${note.noteStar.noteStar}">999</em>
							</span>
						</h3>
						<div>
							<span class="noteLabel" th:each="item,cate:${note.noteCategory}">
								<i class="layui-icon">&#xe66e;</i>
								[[${cate.current.value.cateName}]]
							</span>
						</div>

						<h5>发布于：
							<span th:text="${#dates.format(note.createTime, 'yyyy-MM-dd')}">刚刚</span>
						</h5>
						<p th:utext="${note.noteContent.noteContext}">dfgfdfgfd</p>
						<div class="count layui-clear"></div>
					</div>
					<div th:replace="~{bar :: comment-bar}"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{bar :: footer-bar}"></div>
</body>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/util/DateFormat.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/common/common.js}"></script>
<script>
$(function() {
	layui.config({
		base: '[[@{/js/}]]'
	}).use('blog');
});

var PATH = '[[@{/}]]';
function giveALike(){
	$.get({
		url: PATH + 'note/giveALike/'+$("#noteId").val(),
		dataType: 'json',
		success: function (res) {
			if(res.code == 0){
				$("#like").find("em").text(res.data);
			}else{
				layer.msg(res.message);
			}
		}
	});
}
</script>
</html>