<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.client.module.user.mapper.UserFunctionMapper">
    <resultMap id="BaseResultMap" type="com.xnote.client.module.user.bean.UserFunction">
        <id column="func_id" jdbcType="VARCHAR" property="funcId" />
        <result column="func_code" jdbcType="VARCHAR" property="funcCode" />
        <result column="func_name" jdbcType="VARCHAR" property="funcName" />
        <result column="func_switch" jdbcType="VARCHAR" property="funcSwitch" />
        <result column="func_type" jdbcType="INTEGER" property="funcType" />
        <result column="func_role" jdbcType="INTEGER" property="funcRole" />
        <result column="func_parent_id" jdbcType="VARCHAR" property="funcParentId" />
        <result column="func_url" jdbcType="VARCHAR" property="funcUrl" />
        <result column="func_remark" jdbcType="VARCHAR" property="funcRemark" />
    </resultMap>
    <sql id="Base_Column_List">
    FUNC_ID, FUNC_CODE, FUNC_NAME, FUNC_SWITCH, FUNC_TYPE, FUNC_ROLE, FUNC_PARENT_ID, FUNC_URL, FUNC_REMARK
  </sql>
    <select id="getUserFunction" resultType="com.xnote.client.module.user.bean.UserFunction">
        SELECT
        <include refid="Base_Column_List"/>
        FROM XNOTE_USER_FUNCTION
    </select>

    <update id="updateUserFuncSwitch">
        <foreach collection="userFuncs" item="item" index="" open="" close="" separator=";">
            UPDATE XNOTE_USER_FUNCTION
            SET FUNC_SWITCH = #{item.funcSwitch,jdbcType=VARCHAR}
            <where>
                FUNC_ID =  #{item.funcId,jdbcType=INTEGER}
            </where>
        </foreach>
    </update>
</mapper>