<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <!-- 页头 -->
    <div class="header" th:fragment="header-bar">
        <div class="header-wrap">
            <h1 class="logo pull-left">
                <a href="index.html">
                    <img th:src="@{/img/logo.png}" alt="" class="logo-img">

                    <span th:text="${application.config['logoText'].configValue}" class="logo-text"></span>
                    <!--<img th:src="@{/img/logo-text.png}" alt="" class="logo-text">-->
                </a>
            </h1>
            <form class="layui-form blog-seach pull-left" action="">
                <div class="layui-form-item blog-sewrap">
                    <div class="layui-input-block blog-sebox">
                        <i class="layui-icon layui-icon-search"></i>
                        <input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </form>
            <div class="blog-nav pull-right">
                <ul class="layui-nav pull-left" th:each="func : ${application.funcList}">
                    <li class="layui-nav-item">
                        <a href="index.html" th:href="@{${func.funcUrl}}">
                            <span th:text="${func.funcName}">首页</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav pull-right" id="mobile-nav">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more">sdxss</i>
                </a>
            </div>
        </div>
    </div>

    <!-- 页尾 -->
    <div class="footer"  th:fragment="footer-bar">
        <p><span th:text="'copyright &copy; '+${application.config['clientCopyright'].configValue}">&copy;2020</span></p>
        <p><span>人生就是一场修行</span></p>
    </div>
</body>
</html>