<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <!-- 页头 -->
    <div class="header" th:fragment="header-bar">
        <div class="header-wrap">
            <h1 class="logo pull-left">
                <a th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="" class="logo-img">
                    <span th:text="${application.config['logoText'].configValue}" class="logo-text"></span>
                </a>
            </h1>
            <div class="layui-form blog-seach pull-left"
                  th:if="${application.funcs['search'].funcSwitch} == 'on'">
                <div class="layui-form-item blog-sewrap">
                    <div class="layui-input-block blog-sebox">
                        <i class="layui-icon layui-icon-search"></i>
                        <input id="title" type="text" name="title" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <!-- 功能模块[PC端] -->
            <div class="blog-nav pull-right">
                <ul class="layui-nav">
                    <li class="layui-nav-item" th:each="func : ${application.funcs}"
                        th:if="${func.value.funcSwitch == 'on' && func.value.funcRole == 0}">
                        <a href="index.html" th:href="@{${func.value.funcUrl}}">
                            <span th:text="${func.value.funcName}">首页</span>
                        </a>
                    </li>
                    <li class="layui-nav-item" th:each="func : ${application.funcs}"
                        th:if="${func.value.funcSwitch == 'on' && func.value.funcRole == 4 && session.user != null}">
                        <a href="index.html" th:href="@{${func.value.funcUrl}}">
                            <span th:text="${func.value.funcName}">首页</span>
                        </a>
                    </li>
                    <li class="layui-nav-item usericon-nav-item" th:if="${application.funcs['version'].funcSwitch == 'users' && session.user == null}">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd th:each="func : ${application.funcs}"
                                th:if="${func.value.funcSwitch == 'on' && func.value.funcRole == 1}">
                                <a th:href="@{${func.value.funcUrl}}" th:text="${func.value.funcName}"></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item usericon-nav-item" th:if="${application.funcs['version'].funcSwitch == 'users' && session.user != null}">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                            <span class="userName" th:text="${session.user.loginName}"></span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:logout();">退出</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <!-- 功能模块[移动端] -->
            <div class="mobile-nav pull-right" id="mobile-nav">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe668;</i>
                </a>
            </div>
            <div class="mobile-nav pull-right" id="muser-nav">
                <a href="javascript:;" style="color: #FFF;">
                    <i class="layui-icon">&#xe66f;</i>
                    <span class="userName"
                          th:if="${application.funcs['version'].funcSwitch == 'users' && session.user != null}"
                          th:text="${session.user.loginName}"></span>
                </a>
            </div>
        </div>
        <ul class="pop-nav" id="pop-nav">
            <li class="layui-nav-item">
                <a th:href="@{/}">
                    <i class="layui-icon">&#xe617;</i>
                    <span>首页</span>
                </a>
            </li>
            <li class="layui-nav-item" th:each="func : ${application.funcs}"
                th:if="${func.value.funcSwitch == 'on' && func.value.funcRole == 0}">
                <a href="index.html" th:href="@{${func.value.funcUrl}}">
                    <i class="layui-icon">&#xe603;</i>
                    <span th:text="${func.value.funcName}">首页</span>
                </a>
            </li>
            <li class="layui-nav-item" th:each="func : ${application.funcs}"
                th:if="${func.value.funcSwitch == 'on' && func.value.funcRole == 4 && session.user != null}">
                <a href="index.html" th:href="@{${func.value.funcUrl}}">
                    <i class="layui-icon">&#xe617;</i>
                    <span th:text="${func.value.funcName}">首页</span>
                </a>
            </li>
        </ul>
        <ul class="pop-nav" id="pops-nav" th:if="${application.funcs['version'].funcSwitch == 'users' && session.user == null}">
            <li class="layui-nav-item usericon-nav-item" th:each="func : ${application.funcs}" th:if="${func.value.funcSwitch == 'on' && func.value.funcRole == 1}">
                <a href="javascript:;" th:href="@{${func.value.funcUrl}}" th:text="${func.value.funcName}">
                    <i class="layui-icon layui-icon-username"></i>
                </a>
            </li>
        </ul>
        <ul class="pop-nav" id="pops-nav" th:if="${application.funcs['version'].funcSwitch == 'users' && session.user != null}">
            <li class="layui-nav-item usericon-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    <span th:text="${session.user.loginName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:logout();">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <!-- 评论bar -->
    <div th:fragment="comment-bar">
        <div class="comment count">
            <input id="noteId" type="hidden" name="noteid" th:value="${note.id}">
            <a href="javascript:;" class="doComment" th:if="${application.funcs['comment'].funcSwitch} == 'on'">评论</a>
            <a href="javascript:giveALike();" class="like" th:if="${application.funcs['star'].funcSwitch} == 'on'">点赞</a>
        </div>
        <div class="commentss">
            <div class="comment-area">
                <form class="layui-form commform" id="commform" lay-filter="commform">
                    <input type="hidden" name="noteId" th:value="${note.id}">
                    <div class="layui-form-item">
                        <textarea name="commText" class="layui-textarea" style="resize:none"></textarea>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-sm layui-btn-normal layui-col-xs-offset11" lay-submit="" lay-filter="commform">
                            <i class="layui-icon">&#xe642;</i>评论
                        </button>
                    </div>
                </form>
            </div>
            <div class="comment-list">
                <div class="comment-item" th:each="comment:${note.comments}">
                    <p class="citem-name layui-col-xs10">
                        <span th:text="${comment.userName}">noter</span>
                        <i class="layui-icon" style="color: #42b983;">&#xe62e;</i>
                    </p>
                    <p class="citem-time layui-col-xs2"
                       th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd')}">2020-07-23</p>
                    <div class="citem-text layui-col-xs12"
                         th:text="${comment.commText}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页尾 -->
    <div class="footer"  th:fragment="footer-bar">
        <p><span th:text="'copyright &copy; '+ ${application.config['clientCopyright'].configValue}">&copy;2020</span></p>
        <p><span>人生就是一场修行</span></p>
    </div>
</body>
</html>