<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${application.config['projectTitle'].configValue}">XNOTE</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/icon/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/css/mian.css" th:href="@{/css/mian.css}">
</head>
<body class="lay-blog">
    <div th:replace="~{bar :: header-bar}"></div>

    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrap">
                <h4 class="item-title">
                    <p>
                        <i class="layui-icon layui-icon-speaker"></i>
                        <span style="color: #F00;" th:text="${application.config['clientNotice'].configName}">公告</span>:
                        <span th:text="${application.config['clientNotice'].configValue}">欢迎来到我的轻博客</span>
                    </p>
                </h4>
                <div id="notes"></div>

                <div class="item-btn">
                    <div id="index-page"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{bar :: footer-bar}"></div>
</body>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/util/DateFormat.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/common/common.js}"></script>
<script>
    var PATH = '[[@{/}]]';
$(function() {
    layui.use(['layer','laypage'], function(){
        var layer = layui.layer,
            laypage = layui.laypage;

        loadNotePageCut(PATH, laypage, $('#notes'));
    });

});
</script>
</html>