<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${application.config['projectTitle'].configValue}">XNOTE</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/icon/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/css/mian.css" th:href="@{/css/mian.css}">
</head>
<body class="lay-blog">
    <div th:replace="~{bar :: header-bar}"></div>
    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrap">
                <h4 class="item-title">
                    <p>
                        <i class="layui-icon layui-icon-speaker"></i>
                        <span style="color: #F00;" th:text="${application.config['clientNotice'].configName}">公告</span>:
                        <span th:text="${application.config['clientNotice'].configValue}">欢迎来到我的轻博客</span>
                    </p>
                </h4>
                <div id="notes">

                    <div class="item" th:each="note:${notes}">
                        <div class="item-box layer-photos-demo1 layer-photos-demo">
                            <h3>
                                <a class="noteTile" href="#"
                                   th:href="@{/note/details/{noteId}(noteId=${note.id})}"
                                   th:text="${note.noteTitle}">拥有诗意的心态,才能拥有诗意的生活</a>
                            </h3>
                            <h5>发布于：
                                <span th:text="${#dates.format(note.createTime, 'yyyy-MM-dd HH:mm:ss')}">刚刚</span>
                            </h5>
                            <p th:text="${note.noteContent.noteContext}"></p>
                        </div>
                    </div>

                    <div class="item-btn">
                        <div id="index-page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{bar :: footer-bar}"></div>
</body>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/common/common.js}"></script>
<script>
$(function() {
    layui.use(['layer','laypage'], function(){
        var layer = layui.layer,
            laypage = layui.laypage;

        laypage.render({
            elem: 'index-page',
            count: 1000,
            limit: 10,
            groups: 6,
            theme: '#1E9FFF',
            jump: function(obj){
                loadNotePageCut($('#notes'), obj.curr)
                layer.msg(obj.curr);
            }
        });
    });

});
</script>
</html>