<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${application.config['projectTitle'].configValue}">XNOTE</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/icon/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/css/mian.css" th:href="@{/css/mian.css}">
</head>
<body class="lay-blog">
    <div th:replace="~{bar :: header-bar}"></div>

    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrap">
                <h4 class="item-title">
                    <p>
                        <i class="layui-icon layui-icon-speaker" style="color: #FF0000; font-weight: bolder;"></i>
                        <!--<span style="color: #F00;" th:text="${application.config['clientNotice'].configName}">公告</span>:-->
                        <span th:text="${application.config['clientNotice'].configValue}">欢迎来到我的轻博客</span>
                    </p>
                </h4>
                <div id="notes"></div>

                <div class="item-btn">
                    <div id="index-page"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{bar :: footer-bar}"></div>
</body>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/util/DateFormat.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/common/common.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/js/common/commonbar.js}"></script>
<script>
    var PATH = '[[@{/}]]';
$(function() {
    layui.use(['layer','laypage','element'], function(){
        var layer = layui.layer,
            laypage = layui.laypage,
            element = layui.element;

        loadNotePageCut(laypage, $('#notes'));//thhymeleaf 判断对象是否存在

        $("#title").keyup(function(event){
            var title = $(this).val();
            if(event.keyCode ==13){
                var count, pageSize = 10;

                $.get({
                    url: PATH + 'note/getNoteCount',
                    dataType: 'json',
                    async: false,
                    data: {
                        'title': title
                    },
                    success: function(res){
                        count = res.data;
                    }
                });

                laypage.render({
                    elem: 'index-page',
                    count: count,
                    limit: pageSize,
                    theme: '#1E9FFF',
                    jump: function(obj){
                        $.get({
                            url: PATH + 'note/getPagination',
                            dateType: 'json',
                            data: {
                                'title': title,
                                'pageCode': obj.curr,
                                'pageSize': obj.limit
                            },
                            success: function(res){
                                var note = '', noteP = '<p></p>';
                                res.data.notes.forEach(function(item,index){
                                    note = note +
                                        '<div class="item">' +
                                        '<div class="item-box layer-photos-demo1 layer-photos-demo">' +
                                        '<h3>' +
                                        '<a class="noteTile" href="'+PATH+'note/details/'+ item.id + '">'+ item.noteTitle +'</a><br>' +
                                        upNoteLabel(item.noteCategory) +
                                        '</h3>' +
                                        '<h5>' +
                                        '<i class="layui-icon" style="color: #42b983; margin-right: 8px;">&#xe617;</i>发布于:' +
                                        '<span>'+ new Date(item.createTime).Format("yyyy-MM-dd") +'</span>' +
                                        '</h5>' +
                                        $(noteP).html(item.noteContent.noteContext).text() +
                                        '</div>' +
                                        '</div>';
                                });
                                $('#notes').html(note);
                                return false;
                            },
                            error: function(res){

                                return false;
                            }
                        });
                    }
                });
            }
        });
    });

});
</script>
</html>