<!doctype html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>XNOTE</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/icon/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" type="text/css" href="login.css" th:href="@{/css/login.css}">

    <script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
    <script src="js/common/load.js" th:src="@{/js/common/load.js}" charset="utf-8"></script>
</head>
<body>
<div class="layui-container">
    <form class="layui-form">
        <div class="layui-form-item">
            <input name="id" th:value="${session.user.id}">
            <div class="layui-col-md6">
                <label class="layui-form-label">登录名</label>
                <div class="layui-input-block">
                    <input id="loginName" name="loginName" th:value="${session.user.loginName}" class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">角色名</label>
                <div class="layui-input-block">
                    <input id="userRoleName" name="roleName" th:value="${session.user.userRoleName}" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>