<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${application.config['projectTitle'].configValue}">XNOTE</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/icon/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/css/mian.css" th:href="@{/css/mian.css}">
</head>
<body class="lay-blog">
    <div th:replace="~{bar :: header-bar}"></div>
    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrapv">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="resDoen layui-row layui-col-space30">
                            <div class="layui-card-header">
                                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                    <legend>小工具合集</legend>
                                </fieldset>
                            </div>

                            <div class="resDoen-item layui-col-sm4">
                                <a href="javascript:;">
                                    <div class="rd-card layui-card">
                                        <div class="layui-card-header">
                                            <span class="layui-col-xs4">资源名称</span>
                                            <span class="layui-col-xs2 layui-col-xs-offset6" style="color: #FF0000;">
                                                <i class="layui-icon" style="font-weight: bolder;">&#xe756;</i>
                                                <span>12112</span>
                                            </span>
                                        </div>
                                        <div class="layui-card-body">
                                            <div class="layui-col-xs4 rd-card-img">
                                                <img src="" th:src="@{/img/resource.png}">
                                            </div>
                                            <div class="layui-col-xs8 rd-card-desc">
                                                在div css布局中，遇到连续英文字母或连续数字在div、p、h2、h1等盒子里排成一排显示不会自动随盒子宽度限制而自动换行。
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="resDoen-item layui-col-sm4" th:each="item:${resList}">
                                <a href="javascript:;" th:href="@{/res/down/}+${item.resId}">
                                    <div class="rd-card layui-card">
                                        <div class="layui-card-header">
                                            <span class="layui-col-xs4" th:text="${item.resTitle}">资源名称</span>
                                            <span class="layui-col-xs2 layui-col-xs-offset6" style="color: #FF0000;">
                                                <i class="layui-icon" style="font-weight: bolder;">&#xe756;</i>
                                                <span th:text="${item.downNub}"></span>
                                            </span>
                                        </div>
                                        <div class="layui-card-body">
                                            <div class="layui-col-xs4 rd-card-img">
                                                <img src="" th:src="@{/img/resource.png}">
                                            </div>
                                            <div class="layui-col-xs8 rd-card-desc" th:text="${item.resDesc}">
                                                在div css布局中，遇到连续英文字母或连续数字在div、p、h2、h1等盒子里排成一排显示不会自动随盒子宽度限制而自动换行。
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="layui-clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--
    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrap box">
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="layui-card layui-col-sm4">
                    <div class="layui-card-header">
                        <span>资源下载</span>
                    </div>
                    <div class="layui-card-body" style="height: 130px;">
                        <div>
                            这里是资源下载
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
-->

    <div th:replace="~{bar :: footer-bar}"></div>
</body>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="application/javascript" rel="script" src="jquery.js" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script>
    layui.use(['element'], function(){
        var element = layui.element;
    });
</script>
</html>